###############  .gitignore   ##################

################ credentials  ##################
.lab/
cred/
keys/

###############  media files  ##################
publicity/
data/

############### distro files  ##################
.webassets-cache/
hooks/
plugins/
site/
build/
.Python
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
docs/_build/
target/

###############   IDE files   ##################
.~lock.*
.DS_STORE
.netbeans
nbproject
.idea
.node_history
__pycache__
*.so

############## backup sync files ###############
desktop.ini
*.gdoc

#################   data files    #################
appdata/

#################  unit testing   #################
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

#################  dependencies   #################
node_modules/

################# version control #################
.hg/
.git/
.hgignore

#################   backup sync   #################
.dropbox
Thumbs.db
